.card{
    width: 500px;
    height: auto;
    color: gray;
}
.code{
    width: 300px;
    height: auto;
    padding: 0px;
}


.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }